.booking-container
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
     background: linear-gradient(135deg, burlywood, #deb887, #d2a679);
}
.booking-card
{
    background: white;
    padding: 40px 50px;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.booking-card h3
{
    text-align: center;
    color:#0f172a;
    margin-bottom: 20px;
}
form
{
    display: flex;
    flex-direction: column;
}
label
{
    font-weight: bold;
    margin-top: 10px;
}
input
{
    padding: 8px;
    border:1px solid #ccc ;
    border-radius: 6px;
    outline:none ;
    margin-top: 5px;

}
input:focus
{
    border-color: #0f172a;
}
.TotalPrice
{
    font-weight: bolder;
    color: #0f172a;
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
}
.book-btn
{
background: #0f172a;
border: none;
color: white;
border-radius: 25px;
margin-top:20px ;
padding:10px 20px ;
cursor: pointer;
transition: 0.3 ease;
}
.book-btn:hover
{
    background: #1e2b39;

}