.booking-container
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
     background: linear-gradient(135deg, #000000, #1a1a1a, #2c2c2c);
}

.booking-card {
    background: rgba(56, 189, 248, 0.12);
    backdrop-filter: blur(18px);
    border: 1px solid rgba(56, 189, 248, 0.25);
    border-radius: 18px;
    box-shadow: 0 10px 25px rgba(56, 189, 248, 0.35);
    padding: 40px 50px;
    margin-bottom: 30px;
    top: 0%;
    height: 100%;
    width: 100%;
    max-width: 400px;
}

.booking-card h3
{
    text-align: center;
    color:white;
    margin-bottom: 20px;
}
/* 🔵 NAVBAR */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 80px;
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  z-index: 100;
}

.nav-logo {
  font-family: fantasy;
  font-weight: bold;
  font-size: 2rem;
  color: #c8cbcc;
}

/* remove dot marks */
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  color: #e0e1e2;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #38bdf8;
}
form
{
    display: flex;
    flex-direction: column;
}
label
{
    font-weight: bold;
    margin-top: 10px;
    color: white;
}
input
{
    padding: 8px;
    border:1px solid #ccc ;
    border-radius: 6px;
    outline:none ;
    margin-top: 5px;

}
input:focus
{
    border-color: #0f172a;
}
.TotalPrice
{
    font-weight: bolder;
    color: #cbcdd1;
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
}
.book-btn
{
background: #0f172a;
border: none;
color: white;
border-radius: 25px;
margin-top:20px ;
padding:10px 20px ;
cursor: pointer;
transition: 0.3 ease;
}
.book-btn:hover
{
    background: #1e2b39;

}
