.home-container
{
    font-family: cursive;
}
/*Top Section Styles*/
.top-section
{
    display: flex;
    position: relative;
    align-items: center;
    padding: 40px 5%;
    flex-wrap: wrap;
    justify-content: space-around;
    background: burlywood;
    z-index: 1;
}
.top-section-content
{
    max-width: 500px;
}
.hero-content h1
{
    font-size: medium;
    color: #333;
}
.hero-content p
{
    color : black;
    margin-top: 10px;
    margin-bottom: 20px;
}
.book-btn
{
    color: rgb(18, 4, 4);
    padding: 10px 20px;
    transition: 0.3s;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    background-color: color-mix(in oklch shorter hue, color percentage, color percentage);
}
.book-btn:hover
{
  background: #0056b3;
}
.top-section-image img
{
  height: 450px;
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0f172a;
  padding: 20px 60px;
  z-index: 1000;
  width: 100%;
}

.nav-logo {
 font-weight: bolder;
 font-size: xx-large;
 font-family: fantasy;
 color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a
{
 font-weight: bolder;
 transition: 0.3s;
 text-decoration: none;
 color : whitesmoke;
 
}
.nav-links li a:hover
{
    color:#ffdd57;
}
.footer-page 
{
  font-family: cursive;
  height: 150px;
  width: 100%;
  padding: 30px 80px;
  background-color: #0f172a;
  color: whitesmoke;
  align-items: center;
  font-weight: bold;
}
