.signup-container
{
    height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, #000000, #1a1a1a, #2c2c2c);/*135deg means the direction of gradient flows*/
    /*It flows in the direction of top-left and bottom-right*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
}
.signup-box
{
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(86, 189, 224, 0.6);
  width: 400px;
  padding: 40px 50px;
  text-align: center;
  color: white;
  transition: transform 0.3s ease;
}
.signup-box :hover
{
    transform: translateY(-5px); /*The property moves the login box 5px up*/
}
.signup-box h4{
    font-weight: bold;
    color: #38bdf8;
    margin-bottom: 10px;
}
.form-group input:focus
{
    border-color: #0f172a;
}
.form-group input{
    width:100%;
    border:none ;
    border-radius: 8px;
    outline : none;
    padding: 10px 15px;
    color: white;
    font-size: 14px;
    transition: 0.2s;
    background: #1e1e1e;
}
.login-link
{
    margin-top: 15px;
    color: #38bdf8;
}
.login-link a
{
    text-decoration: none;
    color: #e0e1e2;
    font-weight: bold;

}
.signup-button
{
    width: 50%;
    border: none;
    border-radius: 25px;
    background-color: #38bdf8;
    color:#000 ;
    padding: 12px 25px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}
.signup-button :hover
{
    background-color: #38bdf8;
}
